body, html {
  width: 100%;

  margin: 0px;
  padding: 0px;
  height: 100%;
}
header {
  background: orange;
  padding: 1em;
  color: white;
  clear: both;
  text-align: center;
}
footer {
    background: red;
    padding: 1em;
    color: white;
    clear: both;
    text-align: center;
    bottom: 0;
    min-width: 100%;
    height: 100px;
}
#left {
  float: left;
  width: 160px;
  margin: 0;
  padding: 0.5em;
}
nav ul {
    list-style-type:circle;
}
nav ul a {
    text-decoration: none;
}
#right {
    margin-left: 160px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;

}
#container {
    width: 100%;
    margin: auto;
}

#post {
  width: 80%;
  padding: 1em;
}

#post h1 {
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
}
#postinfo {
  padding: 0.5em;
  opacity: 10%;
  color: green;
}
#post p {
  padding: 0.5em;
  font-size: 12px;
}
